// Custom styles.
body 
{
    background-image:url(/assets/images/scenery.jpg);
    background-repeat: repeat;
    background-attachment:fixed;
     
}

.main-inner {    
   
    opacity: 0.9;
}

#footer
{
  color:#000;
}

#footer a 
{
    color:#4a86e8;
    
}