// Custom styles.
body 
{
    background-image:url(/assets/images/star.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
     
}

.main-inner {    
    background: #fff;
    opacity: 0.8;
}

#footer a 
{
    color:#eee;
    
}