// Custom styles.
body 
{
    background-image:url(/assets/images/mcolor.jpg);
    background-repeat: repeat;
    background-attachment:fixed;
     
}

.main-inner {    
   
    opacity: 0.9;
}


#footer a 
{
    color:#eee;
    
}